.hg__head{
    grid-area: header;
    background-color: var(--white);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.img-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-bottom: 10px;
    height: 80%;
}