
/* Hides the slider so that custom slider can be made */
/* Specific width is required for Firefox. */
/* Otherwise white in Chrome */
input[type=range] {
    -webkit-appearance: none; 
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

/* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
input[type=range]:focus {
    outline: none; 
}

/* Hides the slider so custom styles can be added */
input[type=range]::-ms-track {
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}


/*Positions the container for the slider*/
.slidercontainer {
    width:45%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*Hides the default slider*/
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;  
}

input[type=range]:focus {
    outline: none;
}

/*Designs new slider track for webkit (Chrome)*/
input[type=range]::-webkit-slider-runnable-track {
    height: 8.4px;
    cursor: pointer;
    background: #f0f0f0;
    border-radius: 20%;
}

/*Designs thumb for slider for webkit (Chrome)*/
input[type=range]::-webkit-slider-thumb {
    height: 23px;
    width: 24px;
    border-radius: 20%;
    background: #FE86B6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
  
/*Designs thumb for slider for Firefox*/
input[type=range]::-moz-range-track {
    height: 8.4px;
    cursor: pointer;
    background: #f0f0f0;
    border-radius: 20px;
}

/*Designs thumb for slider for Firefox*/
input[type=range]::-moz-range-thumb {
    height: 23px;
    width: 24px;
    border-radius: 20%;
    background: #FE86B6;
    cursor: pointer;
}

/*Designs thumb for slider for Internet Explorer*/
input[type=range]::-ms-track {
    height: 8.4px;
    cursor: pointer;
    background: #f0f0f0;
    border-radius: 1.3px;
}

/*Designs thumb for slider for Internet Explorer*/
input[type=range]::-ms-thumb {
    height: 23px;
    width: 24px;
    border-radius: 20%;
    background: #FE86B6;
    cursor: pointer;
}

/*Positions list container*/
.listcontainer {
    height: 50px;
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20px;
}

/*Designs every item on list*/
li {
    width: calc(20% - 8px);
    display:inline;
    position: relative;
    float: left;
    text-align: center;
    color: #b2b2b2;
    font-size: calc(24vw / 20);
    font-family: 'Open Sans'; 
}

  /**********************/