/* Position next button properly in the bottom right corner */
.buttonNext{
    position: relative;
    float:right;
    background-color: var(--pink); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans';
    text-shadow: 2px 2px 5px var(--blue)
}

/* Create hover effect for next button */
.buttonNext:hover {
    background-color: rgba(255,20,147,30);
    text-shadow: 2px 2px 5px var(--blue);
}

/* Create hover effect for back button */
.buttonBack:hover {
    background-color: rgba(0, 46, 54,30);
    text-shadow: 2px 2px 5px var(--pink);
}

/* Position back button properly in bottom left corner */
.buttonBack {
    position: relative;
    float:left;
    background-color: var(--blue); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans';
    text-shadow: 2px 2px 5px var(--pink);
}

/* Next button disabled color */
.buttonNext:disabled{
    background-color: rgba(200,200,200, 50);
}

/* Back button disabled color */
.buttonBack:disabled{
    background-color: rgba(200,200,200, 50);
}