/* Spinner properties */
.spinner-animation{
    height: 100px;
    width: 100px;
    animation-name: spinnerRotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Make the spinner rotate */
@keyframes spinnerRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
