/* MainContent.js */
.hg__main {
    grid-area: main;
    background: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px;
    display: flex;
    padding: 35px;
}

.surveyarea {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: white;
}

/* General */

/* @Override h1 */
h1 {
    text-align: center;
    font-size: 64px;
}

.infobox {
    text-align: center;
    border: 2px solid grey;
    border-radius: 50px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 50%;
}

.infobox p {
    font-size: 20px;
    margin: 0px;
    padding: 20px;
}

.sub-infobox {
    border: 2px solid grey;
    border-radius: 50px;
    margin: auto;
    width: 30%;
}

.sub-infobox p {
    margin: 10px;
    text-align: center;
}

/* PersonalInfo.js */
.row {
    margin: auto;
    width: 50%;
    padding: 5px;
}

select {
    color: rgb(125,125,167);
}

select option {
    color: #000;
}

input[type=range],
input[type=text],
input[type=number],
select {
    line-height: normal;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
    text-align-last: center;
    font-family: 'Open Sans';
    height: 3em;
}

input[type=text],
input[type=number],
select {
    appearance: textfield;
    border: 1px solid var(--black);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* FoodAndMoneyPage.js */
textarea {
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 50%;
    height: 80px;
    max-width: 50%;
    min-width: 40%;
    min-height: 30px;
    max-height: 100px;
    font-family: 'Open Sans';
}

/* LandingPage.js & EndPage.js */
.festival-img {
    border-radius: 15px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 70%;
}

img {
    width: auto;
    height: 100%;
}

/* SummaryPage.js */
.grid{
    display: grid;
    grid-template-areas: "personal artist placement money";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-column-gap: 30px;
}

.box{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    padding: 2%;
    font-size: calc(1.1vw + 5px);
}

.catagories {
    border: 2px solid grey;
    border-radius: 50px;
    margin: auto;
    width: 70%;
    font-size: calc(1.4vw + 1px);
}