.hg {
	display: grid;
	grid-template-areas: "left header right"
	                     "left main right"
	                     "bottom bottom bottom";
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: 1fr 
						10fr
						1fr;
	height: 100vh;
	line-height: 1;
}


